
<div class="container-fluid m-3 p-3">
  <div class="row">

 <div class="col-md-6">

  <form [formGroup]="assignment" (ngSubmit)="submit()">
           
    <div *ngFor="let i of questionlist" class="form-group m-3 bg-light">
        <label  *ngIf="!submitted" [ngStyle]="{'color': i.selectedanser === 'null' ? 'orange' : null }" >{{i.question_id}} <span> {{i.questtion}}</span>:</label>

        <label *ngIf="submitted" [ngStyle]="{'color' : i.selectedanser == i.correct_anser ? 'green' : 'red'}">{{i.question_id}} <span> {{i.questtion}}</span>:</label>
        
        <div class="select">
          <select formControlName="selctedanswer" (change)="selectanswer($event,i.question_id)">
            <option  value="">Select Answer</option>
            <option  *ngFor="let j of i.answer" [value]="j.answer_option">{{j.answer}}</option>
          </select>
    
       </div>
          

    </div>
    <button  class="btn btn-primary" (click)="clearform()" type="button" >Clear</button>

    <button *ngIf="!submitted" class="btn btn-primary" type="submit" >Submit</button>
</form>
</div>

<div *ngIf="submitted" class="col-md-6">
  <google-chart #chart
  [type]="chartData.type" 
  [data]="chartData.data" 
  
  [columns]="chartData.chartColumns" 
  [width]="chartData.width"
  [height]="chartData.height">
   
</google-chart>
</div>

</div>

  
</div>



<router-outlet></router-outlet>